body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-image: url("https://cms-01-enbilab.s3.amazonaws.com/system/images/image_files/000/001/577/original/hand-3035665_1920.jpg?1522078905");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.9;
}

.therapist-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.therapist-item {
    width: 65vw;
    margin: 10px 0;
}

.therapist-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #fff;
    text-align: left;
}

.therapist-card h1 {
    text-align: center;
    margin-bottom: 15px;
    color: #333;
}
.therapist-card h3 {
    text-align: center;
    margin-bottom: 15px;
    color: #335;
}


.therapist-card p {
    color: #333;
    font-size: larger;
}

.therapist-card p strong {
    color: #335;
    font-size: larger;
    margin-right: 20px;
    margin-left: 20px;
}
select{
    border-radius: 10px;
    
}
