body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-image: url("https://cms-01-enbilab.s3.amazonaws.com/system/images/image_files/000/001/577/original/hand-3035665_1920.jpg?1522078905");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.8;
    
  
}

.calendar {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.calendar-header h2 {
    margin: 0;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.calendar-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

.day {
    padding: 10px;
    border-radius: 5px;
    background-color: #e0e0e0;
    cursor: pointer;
}

.day:hover {
    background-color: rgb(74, 74, 219);
}

.appointments {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 70vw;
    justify-content: center;
    align-items: center;
    margin: auto; /* כדי להעביר לאמצע */
    margin-top: 50px; /* רווח מהחלק העליון */
    text-align: center;
}


.appointment {
    margin-bottom: 10px;
    padding: 5px;
    background-color: #d9edf7;
    border: 1px solid #bce8f1;
    border-radius: 3px;
    display: flex;
    align-items: center; /* יישור למרכז אנכי */
    justify-content: space-between; /* יישור למרכז אופקי */
}

.appointment button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.appointment button:hover {
    background-color: #45a049;
}

